{% extends 'base.html' %}
{% block content %}
<h1>Authors</h1>
{% ifequal user.role 0 %}
<a href="{% url 'author_add' %}" class="btn btn-outline-primary" aria-current="page">Add author</a>
 {% endifequal %}
{% for author in authors %}
<h1>{{author.name}} {{author.surname}} {{author.patronymic}} </h1>
{% ifequal user.role 0 %}
<a href="{% url 'author_update' author.pk %}" class="btn btn-outline-primary" >Edit author</a>
<a href="{% url 'author_delete' author.pk %}" class="btn btn-outline-primary" aria-current="page">Delete author</a>
 {% endifequal %}
 
{% endfor %}


{% endblock %}